@media (min-width: 992px) { 
  .carousel-item {
    height: 100vh !important;
  }
 }

@media (min-width: 1200px) { 
  .carousel-item {
    height: 100vh !important;
  }
 }

 .jumbotron {
   height: 100vh;
   background-color: #4FC3F7;
   border-radius: 0px !important;
 }
 .jumbotron img {
   height: 50vh;
   width: 50vw;
   left: 0 !important;
 }

.welcome-message {
  font-size: 5vh;
  text-align: center;
}

.sweet--text {
  font-family: 'Yeon Sung', cursive;
}
.roboto--text {
  font-family: 'Roboto', sans-serif;
}
.varela--text {
  font-family: 'Varela Round', sans-serif;
}
.righteous--text {
  font-family: 'Righteous', cursive;
}

.black--text {
  color: #212121;
}
.grey--text {
  color: #263238 !important;
}
.primary--text {
  color: #4FC3F7 ;
}
.primary-dark--text {
  color: #00B0FF;
}
.white--text {
  color: #ffffff !important;
}
.text-none {
  text-decoration: none;
}

.content {
  height: 150vh;
}
.right {
  display: block;
  float: right;
}
.left {
  float: left;
  display: block;
}
.top {
  top: 0;
}
#navbar {
  background-color: #4FC3F7 !important;
  /* box-shadow: 10px 2px 5px grey; */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 999;
  position: fixed;
  top: -70px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.navbar-light {
  background-color: #4FC3F7 !important;
}
.navbar-light .navbar-toggler {
  border: none;
}
.about {
  width: 100%;
  text-align: center;
}

.img-about {
  border-radius: 200%;
  width: 50%;
}

.about-description {
  width: 75%;
  margin: auto;
}

.headline {
  width: 100%;
  text-align: center;
  margin-top: 15vh;
}

.can-do {
  width: 100%;
  text-align: center;
}
.can-do-box{
  width: 100%;
  display: flex;
  align-items: center;
}
.can-do-box img {
  width: 50%;
}
.justify-center {
  text-align: justify;
}

.footer {
  background-color: #4FC3F7;;
}