.mt-5 {
  margin-top: 10vh;
}
.mt-4 {
  margin-top: 8vh;
}
.mt-3 {
  margin-top: 6vh;
}
.mt-2 {
  margin-top: 4vh;
}
.mt-1 {
  margin-top: 2vh;
}
.sweet--text {
  font-family: 'Yeon Sung', cursive;
}
.roboto--text {
  font-family: 'Roboto', sans-serif;
}
.varela--text {
  font-family: 'Varela Round', sans-serif;
}
.righteous--text {
  font-family: 'Righteous', cursive;
}
.text-center {
  text-align: center;
}

nav {
  position: fixed !important;
  z-index: 996;
}
nav .brand-logo{
  font-size: 20px !important;
}
.sidenav-overlay {
  background-color: rgba(0,0,0,0) !important;
}
.sidenav {
  max-width: 70vw !important;
}
#show-more {
  bottom: 5vh;
  position: absolute;
  text-align: center;
  width: 100%;
}
#btn-more {
  background-color: white;
  border-radius: 20px;
}
.btn, .btn-flat {
  text-transform: none !important;
}
.jumbotron {
  width: 100%;
  text-align: center;
  height: 100vh;
  background-color: #4FC3F7;
  border-radius: 0px !important;
}
.jumbotron img {
  height: 50vh;
  width: 50vw;
  left: 0 !important;
}

.welcome-message {
 font-size: 5vh;
 text-align: center;
}

#navbar {
  top: -70px;
  transition: top 0.3s;
}

.img-about {
  border-radius: 200%;
  width: 50%;
}